.contact {
    display: flex;
    flex-direction: column;
    padding: 40px 16px;
    gap: 1rem;

    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-block: .5rem;

        input, textarea {
            padding: 1rem;
            border: 2px solid #000;
            outline: none;
            font-family: "Sora", sans-serif;
            font-size: 16px;
            line-height: 20px;
            resize: none;
        }
        
        // textarea {
        //     font-family: "Sora", sans-serif;
        //     resize: none;
        //     outline: none;
        //     border: 2px solid #000;
        //     padding: 1rem;
        // }

        button {
            width: fit-content;
            padding: 12px 16px;
            background: #000;
            color: #fff;
            font-size: 16px;
            line-height: 20px;
            font-weight: 700;
            cursor: pointer;
        }

    }

    .contact__low {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        h3 {
            font-size: 28px;
            word-spacing: 1.2ch;
            line-height: 1.5;  
        }

        p {
            font-size: 16px;
            line-height: 24px;
            color: #71717a;
        }

        .contact__details {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
        }
    }
}