//COLOR VARIABLES

// primary colors;
$pri-black: #000;
$pri-neutral: #404040;
$pri-white: #fff;

//Secondary colors;
$sec-light-1: #f4f4f5;
$sec-light-2: #e4e4e7;
$sec-mid: #d4d4d8;
$sec-dark-1: #71717a;
$sec-darl-2: #27272a;

//error-color;
$error: #ef4444;