@import "../../styles/media-queries.scss";


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-links {
        font-weight: 400;
        cursor: pointer;

        &:hover {
            font-weight: 600;
        }
    }

    .nav-menu {
        display: none;

        @include sm {
            display: flex;
            gap: 1rem;
            align-items: center;
        }
        
    }

    .resume-btn {
        
        display: none;

        @include sm {
            display: flex;
            background-color: #000;
            color: #fff;
            padding: 16px 20px;
            align-items: center;
            gap: 10px;
        }
    }

  

    img {
        cursor: pointer;
    }
    
    //  same as doing navbar navbar-logo { }

    .navbar-logo {
        display: flex;
        align-items: center;
        gap: 1rem;
        cursor: pointer;

        span {
            font-size: 20px;
            font-weight: 700;
        }
    }

    .nav-ham {
        width: 27px;
        height: 18px;

        @include sm {
            display: none;
        }
    }


    .ham-menu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 5rem;
        opacity: 0;  // Start hidden
        transform: translateX(-100%);  // Start off-screen
        visibility: hidden;  // Hidden from screen readers and interactions
        pointer-events: none;  // Disable interaction
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, .9);
        color: #FFF;
        border: none;
        transition: all .5s ease-in-out;

        &.open {
            opacity: 1;  // Fade in
            transform: translateX(0);  // Slide in from left
            visibility: visible;  // Visible to screen readers and interactions
            pointer-events: auto;  // Enable interaction
        }
    }



}
