footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 16px;
    background-color: #000;
    color: #fff;

    .footer__left {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .footer__right {
        display: flex;
        flex-direction: column;

        span {
            font-size: 12px;
            line-height: 20px;
        }
    }
}