.container {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 2.5rem;

    .span--bold {
        font-weight: 900;
    }

    .span--transparent {
        color: #FFF;
        font-weight: 900;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

}