.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    img {
        object-fit: cover;
    }

    .span--bold {
        font-weight: 900;
    }

    .span--s-bold {
        font-weight: 600;
    }

    .span--transparent {
        color: #FFF;
        font-weight: 900;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

    header, .div--padding {
        padding: 16px;
    }

}